$brand-magenta: green;
$brand-blue: #5AB7E8;
$brand-yellow: #fdd167;
$brand-green: #BECA45;

$btn-color: #ffffff;
$btn-color-hover: $brand-magenta;

$space1: .5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 4rem;