@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1deg);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes titleLoop {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes wind {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}