section.section#pin
	.text-ballon.js-text-ballon
		p upsss!!! ma che succede!?
	.scene
		.cloud-big.js-cloud-big
			svg.svgs
				use(xlink:href="images/svgs/symbol/svg/sprite.symbol.svg#cloud-big")
		.cloud-medium.js-cloud-medium
			svg.svgs
				use(xlink:href="images/svgs/symbol/svg/sprite.symbol.svg#cloud-medium")
		.cloud-small.js-cloud-small
			svg.svgs
				use(xlink:href="images/svgs/symbol/svg/sprite.symbol.svg#cloud-small")

		.happy-birthday.js-happy-birthday.js-btn-modal(data-modal="sarina")
			include ../svgs/happy-birthday.svg
		.tree.tree--front.js-tree
			svg.svgs
				use(xlink:href="images/svgs/symbol/svg/sprite.symbol.svg#tree-front")
		
					
		.sarina-and-ballons.js-sarina-and-ballons
			.sarina-ballons
				include ../svgs/sarina-ballons.svg

		.tree.js-tree
			svg.svgs
				use(xlink:href="images/svgs/symbol/svg/sprite.symbol.svg#tree-back")

		.scene__text.js-scene__text
			p Questa é Sarina. Sta tranquillamente appoggiata a un albero mentre pensa a cosa fare.


	.scene-bg.scene-bg--scene.js-scene-bg--scene

.scene-pos.scene-pos--max-skate-in
.scene-pos.scene-pos--bam
.scene-pos.scene-pos--max-skate-out

.modal.modal--info(data-page="sarina")
	.modal__content
